body
	min-width: 320px
	color: #508151
.char
	padding: 2px 5px
	background-color: #C6E6CA
	margin-bottom: 5px
	cursor: pointer
	text-align: center
	transition: all .25s ease
	border-radius: 3px
	color: #508151
	&:hover
		background-color: darken(#C6E6CA, 20%)

.card
	text-align: center
	img
		width: 100%
		height: auto

.card__item
	background-color: #FD9380
	color: #064D24
	margin: 5px 0 0 0
	padding: 5px
	border-radius: 3px

.name
	font-size: 28px

.h2
	text-align: center

.container-fluid
	max-width: 768px
